@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  font-family: "Nunito", sans-serif;
  text-decoration: none !important;
}

/* Dark Button */
.btn_dark {
  background-color: #C42B1E;
  color: white;
  padding: 0.45rem 1rem;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  font-weight: 700;
  letter-spacing: .025rem
}

.btn_dark:hover {
  background-color: #c42c1ec4; /* Darker shade for hover */
}

.btn_light {
  background-color: transparent;
  color: #C42B1E;
  border: 1px solid #C42B1E;
  font-size: 12px;
  padding: 0rem 1rem;
  border-radius: 0.25rem;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 700 ;
  letter-spacing: .025rem
}

.btn_light:hover {
  background-color: #c42c1e0c;
}
/* dropdown btn */

.btn-secondary {
  --bs-btn-color: #6e3b37 !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: #6e3b37 !important;
}
.btn-secondary:hover {
  --bs-btn-hover-color: none !important;;
  --bs-btn-hover-bg: none !important;
}

/* Secondary Button */
.btn_secondary {
  background-color: #f8f9fa; /* Light gray */
  color: #6c757d; /* Dark gray text */
  padding: 0.45rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  


}

.dropdown-toggle{
  border: 1px solid #C6B6B4 !important;
  padding: 4px 14px !important;
}
.dropdown-toggle:hover{
  border: 1px solid #6e3b37 !important;
  color:  #6e3b37 !important;
}

.dropdown-toggle::after {
  margin-left: 10px !important;
}

.btn_secondary:hover {
  background-color: #e2e6ea; 
}

/* Link Button */
.btn_link {
  background: none;
  color: black;
  text-decoration: none;
  padding: 0;
  transition: color 0.3s ease;
}

.btn_link:hover {
  color: #333; /* Darker shade for hover */
  text-decoration: underline;
}

.active > .page-link,
.page-link.active {
  background-color: gray !important;
  border-color: none !important;
}

.text_color_brown {
  color: #6e3b37;
}


.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
}

.custom-select select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(./assets/up-down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  cursor: pointer;
}

.custom-grid {
  grid-template-columns: 209px 209px 209px 209px 209px;
  grid-template-rows: 80px 60px;
}

.custom-select::after {
  content: "";
}

.backdrop_blur {
  backdrop-filter: blur(10px); 
  z-index: 1000; 
}

.box_shadow_tabel{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  --bs-dropdown-min-width: 55px !important;
  --bs-dropdown-color: #6e3b37 !important;
  --bs-dropdown-link-color: #6e3b37 !important;
  --bs-dropdown-link-hover-color: #c42b1e !important;
  --bs-dropdown-link-hover-bg: #c42b1e29 !important;
  --bs-dropdown-link-active-color: #c42b1e !important;}

  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #6e3b37 !important;
    background-color: transparent !important;
    border-color: #6e3b37 !important;
}


#TradeForm select,#TradeForm input{
  border: 1px solid #C42B1E1F !important;
  color: #000;
  font-size: 14px;
  height: 40px;
}

 
#TradeForm .formInput:focus {
  border: 2px solid #C42B1E !important;
} 
#TradeForm textarea:focus {
  border: 2px solid #C42B1E !important;
} 

.form-select:focus {
  border:2px solid #C42B1E !important;
  outline: 0;
  box-shadow: none !important 
}
select option{
  color: #6c757d !important;
}

input::placeholder{
  color: #97514b; 
}
textarea::placeholder{
  color: #97514b; 

}
input[type="datetime-local"]::-webkit-datetime-edit {
  color: #97514b; /* Hides the date input text (if empty) */
}

input[type="datetime-local"]:focus::-webkit-datetime-edit {
  color: #97514b; /* Text color when focused */
}

input[type="checkbox"]{
  accent-color: #c43b1e;
}
::-webkit-scrollbar{
  display: none;
}


@media (min-width: 320px) {
  .custom-grid {
    grid-template-columns: 100%;
    grid-template-rows: 80px 80px 80px 80px;
  }
  .custom-select {
    position: relative;
    display: block;
    width: 100%;
  }

  .d_none {
    display: none;
  }
}
@media (min-width: 768px) {
  .custom-grid {
    grid-template-columns: 48% 48%;
    grid-template-rows: 80px 80px;
  }

  .d_none {
    display: none;
  }
  .custom-select {
    position: relative;
    display: block;
    width: 100%;
  }

  .w_209px {
    width: 209px !important;
  }

  .w_109px {
    width: 109px;
  }

  .w_180px {
    width: 180px;
  }
}
@media (min-width: 992px) {
  .custom-grid {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70px 80px;
  }

  .d_none {
    display: none;
  }
}

@media (min-width: 1400px) {
  .custom-grid {
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 70px 60px;
  }

  .d_xl_flex {
    display: flex;
  }

  .items_xxl_end{
    align-items: end;
  }
}
