@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
  text-decoration: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* Dark Button */
.btn_dark {
  background-color: #c42b1e;
  color: white !important;
  padding: 0.45rem 1rem;
  border-radius: 6px !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
  transition: background-color 0.3s ease;
  font-weight: 700 !important;
  letter-spacing: 0.025rem !important;
}

.btn_dark:hover {
  background-color: #c42c1ec4 !important; /* Darker shade for hover */
}

.btn_light {
  background-color: transparent !important;
  color: #c42b1e !important;
  border: 1px solid #c42b1e !important;
  font-size: 12px !important;
  padding: 0rem 1rem;
  border-radius: 0.25rem;
  border-radius: 6px !important;
  transition: background-color 0.3s ease !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  letter-spacing: 0.025rem;
}

.btn_light:hover {
  background-color: #c42c1e0c !important;
}
/* dropdown btn */

.btn-secondary {
  --bs-btn-color: #6e3b37 !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: #6e3b37 !important;
}
.btn-secondary:hover {
  --bs-btn-hover-color: none !important;
  --bs-btn-hover-bg: none !important;
}

/* Secondary Button */
.btn_secondary {
  background-color: #f8f9fa; /* Light gray */
  color: #6c757d; /* Dark gray text */
  padding: 0.45rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
/* 
.btn-primary {
  --bs-btn-color: #6e3b37 !important;
  --bs-btn-bg: #fff !important;
  --bs-btn-border-color: #none !important;
  --bs-btn-hover-color: none !important;;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-focus-shadow-rgb: none !important;;
  --bs-btn-active-color: none;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none !important;
  --bs-btn-active-shadow: none !important;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: none !important;
  --bs-btn-disabled-border-color: none !important;
}
.btn-primary:focus {
  box-shadow: var(--mdb-btn-box-shadow-state);
  background-color: none !important;
} */
.dropdown-toggle {
  border: 1px solid #c6b6b4 !important;
  padding: 4px 14px !important;
}
.dropdown-toggle:hover {
  border: 1px solid #6e3b37 !important;
  color: #6e3b37 !important;
}

.dropdown-toggle::after {
  margin-left: 10px !important;
}

.btn_secondary:hover {
  background-color: #e2e6ea;
}

/* Link Button */
.btn_link {
  background: none;
  color: black;
  text-decoration: none;
  padding: 0;
  transition: color 0.3s ease;
}

.btn_link:hover {
  color: #333; /* Darker shade for hover */
  text-decoration: underline;
}

.active > .page-link,
.page-link.active {
  background-color: gray !important;
  border-color: none !important;
}

.text_color_brown {
  color: #6e3b37;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
}

.custom-select select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(./assets/up-down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  cursor: pointer;
}

.custom-grid {
  grid-template-columns: 209px 209px 209px 209px 209px;
  grid-template-rows: 80px 60px;
}

.custom-select::after {
  content: "";
}

.backdrop_blur {
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.box_shadow_tabel {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  --bs-dropdown-min-width: 55px !important;
  --bs-dropdown-color: #6e3b37 !important;
  --bs-dropdown-link-color: #6e3b37 !important;
  --bs-dropdown-link-hover-color: #c42b1e !important;
  --bs-dropdown-link-hover-bg: #c42b1e29 !important;
  --bs-dropdown-link-active-color: #c42b1e !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #6e3b37 !important;
  background-color: transparent !important;
  border-color: #6e3b37 !important;
}

#TradeForm select,
#TradeForm input {
  border: 1px solid #6e3b37 !important;
  color: #6e3b37;
  font-size: 14px;
  height: 40px;
}

#TradeForm .formInput:focus {
  border: 2px solid #c42b1e !important;
}
#TradeForm textarea:focus {
  border: 2px solid #c42b1e !important;
}
#TradeForm textarea {
  border: 1px solid #6e3b37 !important;
}

.form-select:focus {
  border: 2px solid #c42b1e !important;
  outline: 0;
  box-shadow: none !important;
}
select option {
  color: #6c757d !important;
}

input::placeholder {
  color: #97514b;
}
textarea::placeholder {
  color: #97514b;
}
input[type="datetime-local"]::-webkit-datetime-edit {
  color: #97514b; /* Hides the date input text (if empty) */
}

input[type="datetime-local"]:focus::-webkit-datetime-edit {
  color: #97514b; /* Text color when focused */
}

input[type="checkbox"] {
  accent-color: #c43b1e;
}

/* Scrollbar overall width */
::-webkit-scrollbar {
  width: 10px; /* Total scrollbar width */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: white;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #c43b1e;
  border-radius: 10px;
  border: 3px solid white; /* Creates the difference in width */
}

/* Thumb hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


td{
  align-content: center !important;
}


/* LOADING ANIMATION */

.loader {
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #c42b1e;
  animation: growBar 1s linear infinite;
}

@keyframes growBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@media (min-width: 320px) {
  .custom-grid {
    grid-template-columns: 100%;
    grid-template-rows: 80px 80px 80px 80px;
  }
  .custom-select {
    position: relative;
    display: block;
    width: 100%;
  }

  .d_none {
    display: none;
  }
}
@media (min-width: 768px) {
  .custom-grid {
    grid-template-columns: 48% 48%;
    grid-template-rows: 80px 80px;
  }

  .d_none {
    display: none;
  }
  .custom-select {
    position: relative;
    display: block;
    width: 100%;
  }

  .w_209px {
    width: 209px !important;
  }

  .w_109px {
    width: 109px;
  }

  .w_180px {
    width: 180px;
  }
}
@media (min-width: 992px) {
  .custom-grid {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 70px 80px;
  }

  .d_none {
    display: none;
  }
}

@media (min-width: 1400px) {
  .custom-grid {
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-template-rows: 70px 60px;
  }

  .d_xl_flex {
    display: flex;
  }

  .items_xxl_end {
    align-items: end;
  }
}
